.search-bar {
  position: relative;
  &__field {
    width: 892px;
    height: 95px;
    padding-left: 41px;
    border-radius: 16px;
    background-color: $light-bg;
    color: $dark-color;
    @include font($serif-font, 2.4rem, 2.9rem, 400, italic);
    &:focus-visible {
      outline: none;
    }
    &::placeholder {
      color: $bright-color;
    }
  }
  &__btn {
    position: absolute;
    top: 18px;
    right: 18px;
  }
}
