$text-light-color: #ffffff;
$text-bright-color: #f2785c;
$text-dark-color: #0d606f;

$buttons-bg-color: #0d606f;
$header-bg: rgba(242, 120, 92, 0.7);
$light-bg: rgba(255, 255, 255, 0.7);

$header-box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);

$logo-font: "Magra";
$serif-font: "Aleo", serif;
$sans-serif-font: "Red Hat Text", sans-serif;

$desktop-width: 1440px;
$mobile-width: 390px;
