html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}

.header-hero-bg {
  background-image: url(../assets/images/hero-bg.jpg);
  background-size: cover;
}

.text {
  @include font($serif-font, 2rem, 2.4rem, 400);
  &_hero {
    font-weight: 700;
    font-style: italic;
    color: $text-light-color;
  }
}

.hidden {
  display: none;
}
